nav {
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.navbar-default {
    background-color: #ffffff;
    border-color: #d6d6d6;
    font-family: "FuturaPTLight";
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: indianred;
}

.navbar-default .navbar-text {
    color: #000000;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: indianred;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: #d6d6d6;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #d6d6d6;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #000000;
}

.navbar-default .navbar-link {
    color: #000000;
}

.navbar-default .navbar-link:hover {
    color: #f66709;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #f66709;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #f66709;
        background-color: #d6d6d6;
    }
}

@font-face {
    font-family: "FuturaPTLight";
    src: url("FuturaPTLight.otf") format("opentype");
}

@font-face {
    font-family: "28DaysLater";
    src: url("28 Days Later.ttf") format("truetype");
}

html, body {
    overflow-x: hidden;
    position: relative;
    background-color: rgb(22, 16, 16);
}

#loader {
    position: relative;
    background-color: inherit;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: relative;
    background: url("../images/header.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.greet {
    position: absolute;
    top: 40%;
    margin-top: -142px;
    left: 50%;
    margin-left: -56px;
    -webkit-filter: drop-shadow(5px 5px 5px hsl(0, 100%, 0%));
    filter: drop-shadow(5px 5px 5px hsl(0, 100%, 0%));
}

#story {
    position: relative;
    background-color: black;
}

.lightHeading {
    font-family: "28DaysLater";
    color: white;
}

.darkHeading {
    font-family: "28DaysLater";
    color: black;
}

@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}

.text {
    color: white;
    font-family: "FuturaPTLight";
    font-size: 19px;
    text-align: justify;
}

#work {
    position: relative;
    background-color: rgb(32,16,16);
}

#story div {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

#social {
    background-color: rgb(245, 255, 250);
    background-image: url("../images/socialMedia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fa:hover {
    opacity: 0.7;
    transition: opacity 0.5s;
}

#social img{
  opacity:0;
  transition: all 0.5s ease-in-out;
  transform: translateX(-100px);
}

#social img.showing{
  opacity:1;
  transform: translateX(0px);
}

.email{
  border: 3px grey solid;
  font-family: "FuturaPTLight";
  transition: all 0.8s;
  color:white;
  font-size: 25px;
}

.email:hover{
  border: 1px red solid;
  background-color: white;
  color:rgb(64,0,0);
}
