html, body {
    overflow-x: hidden;
    position: relative;
}

@font-face {
    font-family: "Aller";
    src: url("Aller_LtIt.ttf") format("truetype");
}

@font-face {
    font-family: "28DaysLater";
    src: url("28 Days Later.ttf") format("truetype");
}

@font-face {
    font-family: "GreatDay";
    src: url("Great Day.ttf") format("truetype");
}

header {
    position: relative;
    background: url("../images/header.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.greet {
    position: absolute;
    top: 40%;
    margin-top: -142px;
    left: 50%;
    margin-left: -56px;
    -webkit-filter: drop-shadow(5px 5px 5px hsl(0, 100%, 0%));
    filter: drop-shadow(5px 5px 5px hsl(0, 100%, 0%));
}

#story {
    position: relative;
    background-color: black;
}

.heading {
    font-family: "GreatDay";
    font-weight: bold;
    color: white;
}

@media (min-width: 768px) {
    .row.vertical-align {
        display: flex;
        align-items: center;
    }
}

.text {
    color: white;
    font-family: "Aller";
    font-size: 19px;
    text-align: justify;
}

#work {
    background-color: black;
    background-image: url("../images/soundcloud2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
